* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    gap: 24px;
    padding: 12px;
}

.logo {
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
}

.header_name {
    color: white;
    font-size: 42px;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 16px;
}