* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.upper_header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    gap: 24px;
    padding: 12px;
}

.logo {
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

.header_name {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.upper_header a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 16px;
}

.lower_header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    gap: 32px;
    padding: 64px;
}

.website_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.website_info_title {
    font-size: 32px;
    font-weight: bold;
}

.website_info button {
    align-self: self-start;
    background-color: #3882F6;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid black;
}

.website_info button:hover {
    cursor: pointer;
}

.header_img {
    border: 2px solid black;
    border-radius: 20px;
}

.dog_family {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    padding: 32px;
}

.dog_family_header {
    font-size: 36px;
    font-weight: bold;
}

.dogs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 46px
}

.dog {
    width: 200px;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
}

.dog img {
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.about_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 20%;
    background-color: #e5e7eb;
}

.about_me_text {
    font-size: 28px;
    font-style: italic;
    font-weight: 300;
}

.about_me_name {
    align-self: flex-end;
    font-size: 28px;
}



